.App {
  font-family: sans-serif;
  max-width: 600px;
  margin: 0 90px;
  padding: 20px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 30px;
}

.contact-form input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.contact-form button {
  padding: 10px;
  background-color: #041e91;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.contact-list h2 {
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
}

.contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid #eee;
  border-radius: 4px;
  margin-bottom: 10px;
}

.delete-btn {
  background-color: #97230f;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}